<footer>
      <p>Author: Sidney Thomas<p>
      <p><a href="mailto:username@example.com">Contact Us</a></p>
      <p><a href="index.html">About Us</a></p>
      <p><a href="">Privacy Policy</a></p>
      <p><a href="">Terms and Conditions</a></p>
      <p>© 2023 [CSC 317]. All Rights Reserved.<p>
</footer>