<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="profile-userinfo-container">
      <div class="profile-userinfo2-container">
        <h2>{{user.username}}</h2>
        <p>Email: <a href="mailto:username@example.com">{{user.email}}</a></p>
      <h3>My Posts</h3>
        <ul>
         <li><a href="post-1.html">Post 1</a></li>
         <li><a href="post-2.html">Post 2</a></li>
         <li><a href="post-3.html">Post 3</a></li>
        </ul>
      </div>
      
    </div>
</body>
</html>