<!DOCTYPE html>
<html lang="en">
<body>
    <div class="viewp-videosection-container">
        {{!-- {{log this}} --}}
        <div class="viewp-common-videoinfo">
            Video Title
        </div>
        <div class="viewp-common-videoinfo">
            Posted by John Doe 
        </div>
        <time class="viewp-common-videoinfo"  datetime="2023-03-01T12:00:00-08:00" pubdate>02:59 PM, March 1, 2023</time>
        <video class="viewp-video" controls width="640" height="360">
            <source src="/public/South Park - Cartman.mov" type="video/mp4">
            <source src="my-video.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
        <div id="comments-section">
         <h2>Comments</h2>
            <ul>
                <li>
                 <h3>John Doe</h3>
                 <p>Great video, thanks for sharing!</p>
                </li>
                <li>
                  <h3>Jane Smith</h3>
                  <p>I have a question, can you please explain... why is he acting like that?</p>
                </li>
                <!-- More comments go here -->
            </ul>
        </div>     
    </div>
</body>
</html>